body {
    background-color: white
  }
  h1 {
    background-color: gray;
    color: white;
    font-style: italic;
  }
  
  #violet {
    color: violet;
  }
  
  #red {
    color: red;
  }
  
  #orange {
    color: darkorange;
  }
  
  #brown {
    color: brown;
  }
  
  #green {
    color: green;
  }
  
  #blue {
    color: blue;
  }
  
  #black {
    color: black;
  }
  
  #yellow {
    color: yellow;
  }
  
  #pink {
    color: pink;
  }
  
  .bg-gray {
    font-style: italic;
    background-color: lightslategray;
  }
  
  .bg-black {
    font-style: inherit;
    background-color: black;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  :nth-of-type(2) {
    font-size: 32px;
  }
  
  p:last-of-type::first-letter {
    font-size: 30px;
  }
  
  div>p:nth-child(4) {
    color: gold;
  }